<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Project</title>

    <!--Pico css Style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.min.css">
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>RMProjetcs</strong></li>
        </ul>
        <ul>
            <li><a href="/client">Client</a></li>
        </ul>
    </nav>

    <main class="container">
        <h1>Boas Vindas</h1>
        <p> Este é um projeto de estudo de Spring Boot com thymeleaf</p>
    </main>
</body>
</html>